{% block title %}
	<title>Login</title>
{% endblock %}

{% block body %}
	
	<form method="post" action="{{ path('logar') }}">
		Nome<input type="text" name="nome" placeholder="Neme de usuario" autofocus><br>
		Senha<input type="text" name="senha" placeholder="Senha"><br><br>

		<input type="Submit" value="Enviar">
		
	</form>

{% endblock %}