{% extends 'base.html.twig' %}

{% block title %}MEndes!{% endblock %}

{% block links %}
	<link rel="stylesheet" type="text/css" href="{{ asset('local\style.css')}}">
{% endblock %}

{% block body %}

	{% if(erro) %}
		<strong>{{ msg }}</strong>
		<a href="{{ path('home') }}">Listar User</a>
	{% else %}
		<h1>id: {{ user.id }}</h1>
	{% endif %}
	

{% endblock %}
