<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('local/style.css') }}" >

        {% block links %}
        {% endblock %}
    </head>
    <body>

        {% block body %} {% endblock %}

        {% block js %}{% endblock %}

    </body>
</html>   
